<h1><%= t '.header' %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.email' %></th>
      <th><%= t '.full_name' %></th>
      <th><%= t '.company_name' %></th>
      <th><%= t '.interviews_amount' %></th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.email %></td>
        <td><%= employer.full_name %></td>
        <td><%= employer.company_name %></td>
        <td><%= employer.completed_interviews.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
